/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028; /*фон страницы если будет проблема с картинкой*/
  --bg-image: url(../images/cover-image-dark.png); /*фон страницы*/
  --corners-color: #ff0070; /*цвет уголков*/
  --title-color: #DB00FF; /*использутся h1 заголовке*/
  --button-text-color: #FF0070; /*цвет текста кнопок*/
  --header-tex-color: #000028; /*цвет параграфа в хедере*/
  --element-tex-color: #FF0070; /*цвет декоративного элемента*/
  --text-color: #f1b2ce; /*цвет текста в параграфах*/
  --accent-color: #ff0070; /*цвет заголовка второго уровня*/
  --color-h3: #000028; /*цвет текста заголовков третьего уровня*/
  --footer-color: #DB00FF; /*цвет текста в футере*/
  --bg-text: #ff0070; /*цвет фона у заголовков*/
  --shadow-color: #ff0070; /*цвет тени*/
  --button-border-def: #ff0070; /*цвет обводки кнопки */
  --button-border-hover: #FF007066; /*цвет обводки кнопки наведение*/
  --button-border-active: #ff0070; /*цвет обводки кнопки в активном состоянии*/
  --button-border-visible: #ff0070; /* обводка через tab*/
  --decor-element-display: block; /*рек сделали переменной*/
}

