/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  ; /*фон страницы если будет проблема с картинкой*/
  --bg-image: url(../images/cover-image-light.png); /*фон страницы*/
  --corners-color: #353430; /*цвет уголков*/
  --title-color: #FFC2E6; /*использутся h1 заголовке*/
  --button-text-color: #353430; /*цвет текста кнопок*/
  --header-button-bg-color: transparent; /*фон кнопок в навигации*/
  --header-tex-color: #353430; /*цвет параграфа в хедере*/
  --text-color: #353430; /*цвет текста в параграфах*/
  --accent-color: #353430; /*цвет заголовка второго уровня*/
  --color-h3: #353430; /*цвет текста заголовков третьего уровня*/
  --footer-color: #FFC2E6; /*цвет текста в футере*/
  --bg-text: #FF8DCB; /*цвет фона у заголовков*/
  --shadow-color: #ff0070; /*цвет тени*/
  --button-border-def: #353430; /*цвет обводки кнопки */
  --button-border-hover: #32312D66; /*цвет обводки кнопки наведение*/
  --button-border-active: #353430; /*цвет обводки кнопки в активном состоянии*/
  --button-border-visible: #353430; /* обводка через tab*/
}

.theme-light .decor_element {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root.theme-light {
    --bg-color: #FFF1F7;
    ; /*фон страницы если будет проблема с картинкой*/
    --bg-image: url(../images/cover-image-light.png); /*фон страницы*/
    --corners-color: #353430; /*цвет уголков*/
    --title-color: #FFC2E6; /*использутся h1 заголовке*/
    --button-text-color: #353430; /*цвет текста кнопок*/
    --header-button-bg-color: transparent; /*фон кнопок в навигации*/
    --header-tex-color: #353430; /*цвет параграфа в хедере*/
    --text-color: #353430; /*цвет текста в параграфах*/
    --accent-color: #353430; /*цвет заголовка второго уровня*/
    --color-h3: #353430; /*цвет текста заголовков третьего уровня*/
    --footer-color: #FFC2E6; /*цвет текста в футере*/
    --bg-text: #FF8DCB; /*цвет фона у заголовков*/
    --shadow-color: #ff0070; /*цвет тени*/
    --button-border-def: #353430; /*цвет обводки кнопки */
    --button-border-hover: #32312D66; /*цвет обводки кнопки наведение*/
    --button-border-active: #353430; /*цвет обводки кнопки в активном состоянии*/
    --button-border-visible: #353430; /* обводка через tab*/
  }
}