/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028; /*фон страницы если будет проблема с картинкой*/
  --bg-image: url(../images/cover-image-dark.png); /*фон страницы*/
  --corners-color: #ff0070; /*цвет уголков*/
  --title-color: #DB00FF; /*использутся h1 заголовке*/
  --button-text-color: #FF0070; /*цвет текста кнопок*/
  --header-button-bg-color: transparent; /*фон кнопок в навигации*/
  --header-tex-color: #000028; /*цвет параграфа в хедере*/
  --element-tex-color: #FF0070; /*цвет декоративного элемента*/
  --text-color: #f1b2ce; /*цвет текста в параграфах*/
  --accent-color: #ff0070; /*цвет заголовка второго уровня*/
  --color-h3: #000028; /*цвет текста заголовков третьего уровня*/
  --footer-color: #DB00FF; /*цвет текста в футере*/
  --bg-text: #ff0070; /*цвет фона у заголовков*/
  --shadow-color: #ff0070; /*цвет тени*/
  --button-border-def: #ff0070; /*цвет обводки кнопки */
  --button-border-hover: #FF007066; /*цвет обводки кнопки наведение*/
  --button-border-active: #ff0070; /*цвет обводки кнопки в активном состоянии*/
  --button-border-visible: #ff0070; /* обводка через tab*/
  --padding: 10px;/*отступ секции*/
  --decor-element-display: block; /*рек сделали переменной*/

  --font-family: 'IBM Plex Mono', monospace, sans-serif; /*основной шрифт*/
  --fn-size: 18px;
  --ft-weight: 400;

  --h1-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /*размерз заголовка для моб версии*/
  --h1-size-dessktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);/* размер для планшета и десктопа*/
}